In [15]:
#check if the input string is palindrome or not
def ispal(s):
  if s==s[::-1]:
    return True
  else:
    return False
name=input("enter the word  ")
if ispal(name)== True:
  print("palindrome")
else:
  print("not palindrome")

enter the word  madam
palindrome

In [17]:
#program to check if the input number is divisible by 9
num=int(input("enter the number "))
if num % 9==0:
  print(num,"is divisible by 9")
else:
  print(num,"is not divisible by 9")

enter the number 78
78 is not divisible by 9

In [20]:
#program to print odd numbers between 300 and 500
for i in range(300,501):
  if i % 2!=0:
    print(i,end=" ")

301 303 305 307 309 311 313 315 317 319 321 323 325 327 329 331 333 335 337 339 341 343 345 347 349 351 353 355 357 359 361 363 365 367 369 371 373 375 377 379 381 383 385 387 389 391 393 395 397 399 401 403 405 407 409 411 413 415 417 419 421 423 425 427 429 431 433 435 437 439 441 443 445 447 449 451 453 455 457 459 461 463 465 467 469 471 473 475 477 479 481 483 485 487 489 491 493 495 497 499

In [26]:
#program to get two numbers from user and find their sum,difference,product,quotient
num1=float(input("enter first number"))
num2=float(input("enter second number"))
print(f" SUM:  {num1+num2}\n DIFFERENCE: {num1-num2}\n PRODUCT:  {num1*num2}\n QUOTIENT: {(num1/num2)} ")

enter first number34
enter second number67
 SUM:  101.0
 DIFFERENCE: -33.0
 PRODUCT:  2278.0
 QUOTIENT: 0.5074626865671642

In [28]:
#python function to find the product of 2 numbers
def product(a,b):
  return a*b
num1=int(input("enter first number"))
num2=int(input("enter second number"))
product(num1,num2)

enter first number28
enter second number10

280