In [18]:
#PROBLEM NO 5
#Consider a string ”The day has been long”.
#(a) Delete the value at index =4
#(b) Print the string 4 times in a single line with space between each repetition
#(c) Print the string 3 times in a new line each time
#(d) Modify the string at index 7 as ’A’
#(e)Print the string from index 4 to 15
#(f) Print the final string with its length

string1="The day has been long"
string2=string1[0:4]
string3=string1[5:]
string1=string2+string3
print("THE STRING AFTER DELETING INDEX 4 IS:", string1)
print("PRINTING THE STRING 4 TIMES WITH SPACE")
for i in range(4):
  print(string1,end=" ")
print("\nPRINTING THE STRING 3 TIMES IN NEXT LINE")
for i in range(3):
  print("\n",string1)
any=list(string1)
any[7]='A'
string1="".join(any)
print("STRING AFTER REPLACING INDEX(7) BY 'A':\t",string1)
print("STRING FROM INDEX 4-15 BY 'A':\t",string1[4:16])
print("LENGTH OF STRING':\t",len(string1))

THE STRING AFTER DELETING INDEX 4 IS: The ay has been long
PRINTING THE STRING 4 TIMES WITH SPACE
The ay has been long The ay has been long The ay has been long The ay has been long
PRINTING THE STRING 3 TIMES IN NEXT LINE

 The ay has been long

 The ay has been long

 The ay has been long
STRING AFTER REPLACING INDEX(7) BY 'A':	 The ay Aas been long
STRING FROM INDEX 4-15 BY 'A':	 ay Aas been
LENGTH OF STRING':	 20

In [13]:
#PROBLEM 4
# Consider listA=[19,32,10,55,31,32,94,29,10,65,77,40,40]
#(a) Delete the first occurrence of 32
#(b) Delete all occurrences of 40
#(c) Delete the value at index=5
#(d) Modify the value at index=9 as 300
#(e) Add 200 at index=2
#(f) Print the final list with its length, maximum value and sum of all elements

listA=[19,32,10,55,31,32,94,29,10,65,77,40,40]
print("ORIGINAL LIST:\t\t",listA)
listA.remove(32)
print("LIST AFTER DELETING FIRST OCCURENCE OF 32:\t",listA)

#(b) Delete all occurrences of 40
count=listA.count(40)
for i in range(count):
  listA.remove(40)
print("LIST AFTER REMOVING ALL OCCURENCE OF 40:\t",listA)

# Delete the value at index=5
del listA[5]
print("LIST AFTER DELETING VALUE AT INDEX 5:\t",listA)

#Modify the value at index=9 as 300
listA.append(55)
print("LIST AFTER APPENDING A VALUE:\t",listA)#appending as there is no index 9 value
listA[9]=300
print("LIST AFTER MODIFYING INDEX 9:\t",listA)

#Add 200 at index=2
listA[2]=listA[2]+300
print("LIST AFTER ADDING 200:\t",listA)

#Print the final list with its length, maximum value, sum of elements in list
print("FINAL LIST:\t",listA)
print("LENGTH OF THE FINAL LIST:\t",len(listA))
print("MAX VALUE IN THE FINAL LIST:\t",max(listA))
sum=0
for i in listA:
  sum=sum+i
print("SUM OF ELEMENTS IN LIST:  ",sum)

ORIGINAL LIST:		 [19, 32, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]
LIST AFTER DELETING FIRST OCCURENCE OF 32:	 [19, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]
LIST AFTER REMOVING ALL OCCURENCE OF 40:	 [19, 10, 55, 31, 32, 94, 29, 10, 65, 77]
LIST AFTER DELETING VALUE AT INDEX 5:	 [19, 10, 55, 31, 32, 29, 10, 65, 77]
LIST AFTER APPENDING A VALUE:	 [19, 10, 55, 31, 32, 29, 10, 65, 77, 55]
LIST AFTER MODIFYING INDEX 9:	 [19, 10, 55, 31, 32, 29, 10, 65, 77, 300]
LIST AFTER ADDING 200:	 [19, 10, 355, 31, 32, 29, 10, 65, 77, 300]
FINAL LIST:	 [19, 10, 355, 31, 32, 29, 10, 65, 77, 300]
LENGTH OF THE FINAL LIST:	 10
MAX VALUE IN THE FINAL LIST:	 355
SUM OF ELEMENTS IN LIST:   928

In [15]:
#PROBLEM 3
#Write a program to enter a tuple of integers as (78,45,32,19,82,77,40,39). Change the third value in the tuple to 100

a=(78,45,32,19,82,77,40,39)
b=[]
print(a[2])
for i in a:
  b.append(i)
b[2]=100
a=tuple(b)
print(a)

32
(78, 45, 100, 19, 82, 77, 40, 39)

In [16]:
#PROBLEM 2
#Input a sentence as a string.  a) Print its length  b) Print the first half of string
str="This is problem2"
print("length of string: " ,len(str))
half=len(str)//2
print("Half of the string is:",str[0:half])

length of string:  16
Half of the string is: This is

In [17]:
#PROBLEM 1
#Write a program to find sum of all elements in a list of integers.
numbers=[12,3,4,6,7,89,90]
sum=0
for i in numbers:
  sum=sum+i
print("SUM OF ELEMENTS IN LIST:  ",sum)

SUM OF ELEMENTS IN LIST:   211