In [6]:
#PRINT RUNNER UP SCORE
score = []
n = int(input("Enter the number of values: "))
for i in range(n):
    value = input(f"Enter value {i+1}: ")
    score.append(value)
score.sort()
print("RUNNER UP SCORE IS :",score[-2])

Enter the number of values: 7
Enter value 1: 78
Enter value 2: 89
Enter value 3: 70
Enter value 4: 96
Enter value 5: 57
Enter value 6: 45
Enter value 7: 99
None
RUNNER UP SCORE IS : 96

In [13]:
#'''A dictionary is given D={‘John’ [25,32,43],’Peter’:[87,55,96],’Ram’:[58,55,43],’Meena’:[63,79,85]}
#Get a name from user if the name in the dictionary change the values corresponding to
#that user to [88,77,99] and print the dictionary. Else print ‘Name not found’. '''

D={"john":[25,32,43],"peter":[87,55,96],"ram":[58,55,43],"meena":[63,79,85]}
name=input("enter the name  ")
if name.lower() in D:
  D[name.lower()]=[88,77,99]
  print(D)
else:
  print("Name not found")

enter the name  Meena
{'john': [25, 32, 43], 'peter': [87, 55, 96], 'ram': [58, 55, 43], 'meena': [88, 77, 99]}

In [29]:
'''Ticket Price Calculator:
I.
Ask the user to enter their age.
II.
Use control statements (if-elif-else) to calculate the ticket price based on the
following conditions:
a. If the age is below 5, the ticket price is free.
b. If the age is between 5 and 12 (inclusive), the ticket price is Rs.10.
c. If the age is above 12, the ticket price is Rs.50.
d. If the age is above 60, the ticket price is free.
e. If the gender is female, the ticket price is 50% of the applicable rates.
III.
Display the ticket price to the user.'''
while(True):
  age=int(input("ENTER THE AGE or PRESS 0 to exit\t"))
  if age==0:
    break
  elif age<5 or age >60:
    print("TICKET IS FREE")
  else:
    gender=input("ENTER YOUR GENDER(m/f)\t")
    if gender=='f':
      if age <=12:
        print("TICKET PRICE IS Rs.5")
      elif age<=60:
        print("TICKET PRICE IS Rs.25")
    elif gender=='m':
      if age<=12:
        print("TICKET PRICE IS Rs.10")
      elif age<=60:
        print("TICKET PRICE IS Rs.50")
    else:
      print("enter either 'm' or 'f'")
      break

ENTER THE AGE or PRESS 0 to exit	3
TICKET IS FREE
ENTER THE AGE or PRESS 0 to exit	61
TICKET IS FREE
ENTER THE AGE or PRESS 0 to exit	5
ENTER YOUR GENDER(m/f)	m
TICKET PRICE IS Rs.10
ENTER THE AGE or PRESS 0 to exit	5
ENTER YOUR GENDER(m/f)	f
TICKET PRICE IS Rs.5
ENTER THE AGE or PRESS 0 to exit	12
ENTER YOUR GENDER(m/f)	m
TICKET PRICE IS Rs.10
ENTER THE AGE or PRESS 0 to exit	12
ENTER YOUR GENDER(m/f)	f
TICKET PRICE IS Rs.5
ENTER THE AGE or PRESS 0 to exit	60
ENTER YOUR GENDER(m/f)	m
TICKET PRICE IS Rs.50
ENTER THE AGE or PRESS 0 to exit	60
ENTER YOUR GENDER(m/f)	f
TICKET PRICE IS Rs.25
ENTER THE AGE or PRESS 0 to exit	61
TICKET IS FREE
ENTER THE AGE or PRESS 0 to exit	0